


body {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: black;
  }

#main-wrapper {
    height: 100vh;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

#intro-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#intro{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    margin-top: 10vh;
    width: 40vw;    
    text-align: center;
}

#intro-text-wrapper{
    height: 70%;
    width: 100%;
    display: flex;
}

#intro-text{
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.55em;
    /* font-family: 'Tangerine', serif; */
    /* font-size: 20px; */
    top:0;
 }


figure {
    height: 60vh;
    width: 40vw;
    margin-right: 3vw;
    margin-left: 3vw;
    position: relative;
	overflow: hidden;
}  


#code_intro {
    background-image:url('../img/code.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#climb_intro {
    background-image:url('../img/climb.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



figure figcaption {
    position: absolute;
	padding: 1em;
    color: #fff;
    top: auto; 
	text-transform: uppercase;
    font-size: 1.25em;
    bottom: 1em;
    height: 30%;
    width: 100%;
    text-align: left;

}

figure h2 {
	word-spacing: -0.15em;
    font-weight: 300;
}

figure h2,
figure p {
	margin: 0;
}

figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}


/*eeeeeeeeeeeeeeee*/


figure{
	/* width: calc(100% + 50px); */
	opacity: 0.8;
	transition: opacity 0.35s, transform 0.35s;
}


figure h2,
figure p {
	transform: translate3d(0,40px,0);
}

figure h2 {
	transition: transform 0.35s;
}

figure p {
	color: rgba(255,255,255,0.6);
	transition: opacity 0.2s, transform 0.35s;
}

figure:hover,
figure:hover p {
	opacity: 1;
}

figure:hover,
figure:hover h2,
figure:hover p {
	transform: translate3d(0,0,0);
}

figure:hover p {
	transition-delay: 0.05s;
	transition-duration: 0.35s;
}
