
body {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #a8dadc;
    /* background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/umbrella.JPG');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;*/
    overflow-x: hidden; 
  }

#intro-wrapper {
    background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/umbrella.JPG');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    display: flex;
    justify-content: center;    
    height: 100vh;
    width: 100%;
}

#intro{
    /* background-color: pink; */
    position: fixed;;
    color:white;
    width: 100vw;
    height: 30vh;
    text-align: center;
    transition: opacity 0.4s;
    padding-top: 3vh;
    /* transition: display 2.8s; */
    /* border-bottom: solid white; */
    /* border-width: 1px; */
    /* background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/umbrella.JPG');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover; */ 
     /* background-color: #457b9d; */
}


#intro-text-wrapper{
    position: relative;
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    font-size: 3vh;
    font-family: 'Montserrat', sans-serif;
    
}

#intro-text-wrapper h1{
    margin: auto;
    text-decoration: none;
    text-align: center;
    /* text-transform: uppercase; */
    top:0;
    padding-bottom: 2vh;
    padding-top: 2vh;
    border-bottom: 1px solid #b2ff9e;
 }

 #intro-text-wrapper p {
     margin:0;
     font-size: 6,5em;
 }

 #intro-main {
    display: flex;
    flex-direction: row;
    padding-top: 30vh;
    height: 70vh;
    width: 70%;
    opacity: 1;
    transition: opacity 0.4s;
    
}

#main-wrapper{
    display: flex;
    flex-direction: column;

}